{% extends "layout.html" %}

{% block title %}
    home
{% endblock %}

<!-- Header-->
{% block main %}
<!-- Section-->
<section class="py-5">
    <section class="colored-section" id="testimonials">
    <div id="testimonial-carousel" class="carousel slide h-10" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid h-10">
          <h2 class="testimonial-text">I love using this telegram Bot. Updates me about good morning. Worth the $$</h2>
<!--          <img class="testimonial-image" src="images/dog-img.jpg" alt="dog-profile">-->
          <em>Singapore</em>
        </div>
        <div class="carousel-item container-fluid h-10">
          <h2 class="testimonial-text">I used to be lonely. But now I'm not alone. I receive daily notifications from the love of my life, this telegram bot</h2>
<!--          <img class="testimonial-image" src="images/lady-img.jpg" alt="lady-profile">-->
          <em>Singapore</em>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-80">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Fancy Product</h5>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="{{ url_for('details') }}">Purchase</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
