{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
	Register
{% endblock %}

<!-- Header-->
{% block main %}
<div class="container">
	<h1>Register</h1>
	<!-- This is where our form will go. -->
<!--	<form action="{{ url_for('register')}}" method="POST" novalidate>-->
<!--		{{ form.csrf_token }}-->
<!--		<p>-->
<!--			{{ form.email.label }} <br> {{ form.email(size=30) }}-->
<!--			{% for err in form.email.errors %}-->
<!--			<span style="color:red">{{ err }}</span>-->
<!--			{% endfor %}-->
<!--		</p>-->
<!--		<p>-->
<!--			{{ form.password.label }} <br> {{ form.password(size=30) }}-->
<!--			{% for err in form.password.errors %}-->
<!--			<span style="color:red">{{ err }}</span>-->
<!--			{% endfor %}-->
<!--		</p>-->
<!--		{{ form.submit }}-->
<!--	</form>-->
	{{ wtf.quick_form(form, novalidate=True) }}
</div>
{% endblock %}