<!-- Footer-->
<footer class="bg-dark d-flex align-items-center" style="padding-top: 40px; padding-bottom: 40px; margin:0 ;position:absolute; bottom:0px; width:100%; height: 2rem;">
  <div class="container" style="padding-bottom:0 margin-bottom:0">
    <p class="m-0 text-center text-white">Copyright &copy; NUShopify 2023</p>
  </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
