{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Create a listing
{% endblock %}

<!-- Header-->
{% block main %}
<!-- Section-->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <!-- This is where the form will go -->
            {{ ckeditor.load() }}

            {{ ckeditor.config(name='body') }}

            {{ wtf.quick_form(form, novalidate=True) }}


        </div>
    </div>
</div>
{% endblock %}
